/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body {
  background-color: #F6F9FC;
  padding: .2rem;
  font-size: 1em;
  line-height: 1.3em;
  font-family: 'Spartan', sans-serif;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: 40px auto;
  width: 180px;
  font-size: 1rem;
  a {
    text-decoration: none;
    color: #5a5d7a;
    &:hover {
      color: #A1A9EA;
    }
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .8rem;
}

.name {
  color: #747FE0;
}

.intro, .projects, .contact {
  margin-bottom: 4em
}

.intro a {
  text-decoration: none;
  color: #747FE0;
  font-weight: bold;
  &:hover {
    color: black;
  }
}

.intro-text {
  text-align: justify;
  margin-bottom: 40px;
}

.terminal {
  min-width: 150px;
}

.terminal-header {
  background-color: #e4e3e5;
  padding: 0.5rem;
  border-radius: 10px 10px 0 0 ;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  &:last-of-type {
    background-color: lightgreen;
  }
  &:nth-of-type(2) {
    background-color: orange;
  }
  &:first-of-type {
    background-color: rgb(223, 121, 121);
  }
}

.details {
  background-color: rgb(91, 94, 117);
  padding: 1.5em;
}

.detail-group {
  margin: 2em .5em;
}

.detail-title {
  color: white;
}

.detail-info {
  color: rgb(233, 178, 75);
  margin-left: 1em;
  margin-top: 5px;
  a {
    text-decoration: none;
    color: rgb(94, 228, 233);
    &:hover {
      color: whitesmoke;
    }
  }
}

.projects-title, .contact-title{
  text-align: center;
  color: #5a5d7a;
  padding-top: 3em;
  padding-bottom: 1.7em;
  border-bottom: .5rem solid;
}

.project-card {
  display: flex;
  align-items: center;
  line-height: 2em;
  margin-top: 2em;
  flex-direction: column;
  padding: 1em;
  background: white;
  border-radius: 30px;
}

.project-img {
  text-align: center;
}

.project-img img {
  border-radius: 50%;
}

.project-detail {
  text-align: center;
}


.project-tags {
  margin-top: 1em;
  margin-bottom: 1em;
}

.project-tag {
  display: inline-flex;
  border: 1.5px solid #92EAC0;
  padding: .3rem;
  border-radius: 5px;
  margin-bottom: .5em;
}

.project-links {
  button {
    border-radius: 7px;
    padding: 0.5em;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.live-demo-btn {
  background-color: rgb(98, 130, 233);
  color: white;
}

.source-code-btn {
  background-color: white;
}

.contact-info {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1.5em 0;
  a {
    text-decoration: none;
    color: #5a5d7a;
    &:hover {
      color: #A1A9EA;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  font-size: .7em;
}


@media only screen and (min-width: 768px) {
  body {
    padding: .2em 2em;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  nav {
    font-size: 1.3em;
    width: 300px;
    margin-left: auto;
    margin-right: 0;;
  }

  .project-card {
    flex-direction: row;
  }
  // .project-detail {
  //   min-height: 270px;
  // }

  .project-img {
    width: 50%;
  }

  .contact-info {
    flex-direction: row;
    min-height: 18em;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding: .2em 9em;
  }

  // .project-detail {
  //   margin-left: 40%;
  // }

  // .project-card {
  //   background-size: 37% 100%;
  //   background-repeat: no-repeat;
  // }

  // .project-card:first-of-type {
  //   background-image: url(/images/half-bship.png);
  //   background-size: cover;
  // }

  // .project-card:nth-of-type(2) {
  //   background-image: url(/images/half-xplore.png);
  //   background-size: auto;
  //   background-repeat: no-repeat;
  //   box-shadow: 0 50px 100px rgba(50,50,93,.05),0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.1);
  }