body {
  padding: 15px 15%;
  background-image: url(../images/code.jpg);
}
nav {
  text-align: center;
  margin-bottom: 3em;
}

nav a {
  padding: 1em;
  color: whitesmoke;
  text-decoration: none;
  font-family: fantasy;
  font-size: 1em;
}

nav a:hover {
  color: greenyellow;
}

nav a:active {
  text-decoration: double;
}


header {
  color: greenyellow;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3em;
  margin: 2em 0;
}

.intro {
  margin-bottom: 3.5em;
}

.intro p {
  font-size: 1em;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
  margin-bottom: 2em;
}
.details {
  background-image: url(../images/terminal2.png);
  background-size: 100% 100%;
  background-position: center top;
  padding: 2em 0;
  font-family: 'Ubuntu Mono', monospace;
}

.details ul {
  list-style: none;
}

.details li {
  margin-top: 3em;
  color: gainsboro;
}

.details li::before {
  content: "\003E"; /* Unicode bullet symbol */
  color: gainsboro;  /* Bullet color */

/* Optional tweaks */
  font-weight: bold;
  padding-right: 1em;
}

.details p {
  color: greenyellow;
  padding-left: 1.6em;
}

.blinking-cursor {
  font-weight: bolder;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.projects, .contact {
  margin-top: 5em;
}

.projects-title, .contact-title {
  color: greenyellow;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.project-card {
  background-image: url(../images/p1.jpg);
  background-position: 100% 65%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #00275f;
}

.project-detail {
  background: whitesmoke;
  width: 60%;
  text-align: right;
  padding: 4em 2em;
}

.project-detail span {
  border: 2px solid greenyellow;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
}

.project-tags, .project-links{
  margin-top: 2em;
}

.contact-info a {
  color: whitesmoke;
}
